<div class="col-sm-3">
  <div class="card">
    <div class="card-body">
      <p><b><%= (Date.today + key + 1.days).strftime('%d-%b-%Y') %></b></p>
      <h5 class="card-title"><h1><%= "#{t['temp']['day']}" %><span>&#8457;</span></h1> </h5>
      <p class="card-text">
        <span class="badge bg-dark"><%= t['weather'][0]['description'] %></span> 
      </p>
      <p class="card-text">
        <div>Low: <%= t['temp']['min'] %><span>&#8457;</span></div>
        <div>High: <%= t['temp']['max'] %><span>&#8457;</span></div>
      </p>
    </div>
  </div>
</div>